%p
  creating new question
= form_for [@survey,@question] do |f|
  = f.label 'description'
  = f.text_area :question
  %br
  %br
  =f.label ' ******************* options ******************'
  %br
  %br
  = f.fields_for :options do |option|
    = option.label 'options'
    = option.text_field :option
    %br
    %br
  = f.submit
.links
  = link_to 'questions', survey_questions_path(@survey.id)
  |
  = link_to 'logout',logout_path
