%p
  show
  %br
  description:
  = @question.question
  %br
  Options:
  - @question.options.each do |option|
    = option.option
    %br
  .links
    = link_to 'back',survey_path(@survey.id)
    |
    = link_to 'edit',edit_survey_question_path(@survey.id,@question.id)
    |
    = link_to 'logout',logout_path
  =#%img(src='~/survey-app/app/assets/images/c.png')

  = image_tag('c.png')
