%p{:class => "message", :id => "code", :datatoken => form_authenticity_token}
  login page 
  .action
    = flash[:notice]
  = form_for @login, url: sessions_path do |f|
    = f.label 'username:'
    = f.text_field :username
    %br
    %br
    = f.label 'password :'
    = f.password_field :password
    %br
    %br
    = f.submit 'login'
  .links
    = link_to 'sign up', new_registrations_path
  %div{id: 'container'}
    %div{id:  'my_camera'}
    %div{id: 'my_result'}
    .links
      %button{type:'button',onclick: "javascript:take_snapshot()",title: 'take snapshot'} take snapshot
