%h3
  This is new Survey
  %br
= form_for(@survey) do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label 'type of survey'
  = f.select :type_of_survey, Survey::TYPES,include_blank: true
  %br
  = f.label 'conducted on'
  = f.date_select :conducted
  %br
  = f.label 'Question count'
  = f.text_field :question_count
  %br
  %br
  = f.submit
= link_to 'home', surveys_path
